.side_bar
  .header
    .header__box
      .header__box__user-name
        masa
      .header__box__lists
        .icon-edit        
          = link_to "#" do
            = icon('fa', 'edit', class: 'icon-edit')
        .icon-cog
          = link_to "#" do
            = icon('fa', 'cog', class: 'icon-cog')
  .groups
    .group
      .group__name
      techcamp
      .group__message
      まだメッセージがありません
    .group
      .group__name
      グループ名
      .group__message
      新着メッセージ  
    