.side_bar{
  width: 300px;
  height: 100vh;
  background-color: #253141;
  .header{
    width: 300px;
    height: 100px;
    background-color: $side_blue_dark;
    display: flex;
    justify-content: center;
    align-items: center;
    .header__box{
      width: 220px;
      height: 20px;
      background-color: #253141;
      display: flex;
      justify-content: space-between;
      .header__box__user-name{
        width: 50px;
        font-size: $side_header_font;
        background-color: #253141;
        color: #ffffff;
      }
      .header__box__lists{
        width: 60px;
        height: 20px;
        background-color: #253141;
        display: flex;
        justify-content: flex-end;
        .icon-edit{
          color: $white;
        }
        .icon-cog{
          color: $white;
          margin-left: 5px;
        }
      }
    }
  }
}

.groups{
  width: 300px;
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
  .group{
    padding: 20px 0 40px;
    color: #ffffff;
    .group__name{

    }
    .group__message{
      margin-top: 5px;
    }
  }
}

